{
    "presets": ["es2015", "stage-0", "react"] // Elements are executed in reverse: 1 - @babel/preset-typescript - All typescript files are transformed into javascript | 2 - @babel/preset-react - All JSX files will be converted into javascript | 3 - @babel/preset-env - All javascript files will be transpiled into old javascript syntax.
}