<!DOCTYPE html>
<html lang="en">
<!--html lang="pt-br"-->
    <head>
        <!--Google Analytics.-->
        <!--include.-->

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"><!--Bootstrap required.-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title><%-templateData.cphTitle %></title>

        <!--Style Sheets - JS dependencies.-->

        <!--Style Sheets - personalized.-->
		<link rel="stylesheet" type="text/css" href="../app_styles/styles-backend.css" media="screen" title="Default" />
        <link rel="canonical" href="http://www.domain.com" />

		<!--
		//Favicon - 16x16 | 32x32 | 64x64 (pixels).
		//Export settings: PNG: 558 x 558 pixels.
		//https://realfavicongenerator.net/
		-->
		<!--link rel="bookmark" href="../favicon.ico" /-->
		<!--link rel="icon" type="image/x-icon" href="../favicon.ico" />
		<link rel="icon" type="image/gif" href="../favicon_animated.gif" />
		<link rel="icon" type="image/png" href="../favicon.png" />
		<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../favicon.ico" />
		<link rel="apple-touch-icon" href="../favicon.png" /-->
		
		<link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
		<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png" />
		<link rel="manifest" href="../site.webmanifest" />
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#78c3ae" />
		<meta name="msapplication-TileColor" content="#78c3ae" />
		<meta name="theme-color" content="#ffffff" />

        <!--Head - personalized.-->
        <!--templateData.cphHead -->

		<!--meta name="expires" content="never" /--><!--ex: 28 June 2003-->
        <!--meta name="distribution" content="global" /--><!--ex: global | local | IU -->
        
        <meta name="robots" content="index,follow,noarchive" />
        <!--
            all - No restrictions (default).
            index,follow - Indexes pages and follow the links.
            noindex,nofollow - Don´t index pages (not in cache) and don´t follow the links.
            noarchive - Don´t show link "in cache".
            nosnippet - Don´t show snippets.
            notranslate - Don´t translate.
            noimageindex - Don´t index images.
            unavailable_after: [RFC-850 date/time] - Don´t show page in index after a specif date.
        -->

        <!--meta name="language" content="portuguese" /-->
        <!--meta name="language" content="english" /-->

		<meta name="author" content="<%- gSystemConfig.configSystemClientName %>" />
		<meta name="designer" content="<%- gSystemConfig.configDevName %>" />
		<meta name="copyright" content="<%- gSystemConfig.configCopyrightYear %>, <%- gSystemConfig.configSystemClientName %>" />
		<meta name="rating" content="general" /><!--//general | mature | restricted | 14 years -->

        <!--JS Dependencies (beginning).-->
        <!--include.-->
        <!--JavaScript - default functions.-->
        <script src="../app_js/functions-syncsystem.js" type="text/javascript"></script>

		<style type="text/css">


		</style>
    </head>
    <body>
        <!--
            ref: https://stackoverflow.com/questions/57447398/make-css-layout-for-responsive-3-column-div-grid
        -->
        <div id="containerMain" style="position: relative; display: flex; flex-direction: column; min-height: 100vh;">
            <header style="position: relative; display: block; overflow: hidden;">
                <div style="position: relative; display: block; height: 20px; background-color: #6c7880; overflow: hidden;">

                </div>
                <div class="ss-backend-title-main" style="position: relative; display: block; height: 40px; line-height: 40px; text-indent: 15px; background-color: #d1d8dc; border: 1px solid #6c7880; border-radius: 0px 0px 15px 15px; margin-top: 2px; overflow: hidden;">
                    System Title
                </div>
                <div style="position: relative; display: block; height: 72px; background-image: url(../app_files_layout/backend-layout-header-tb02-02.jpg); background-repeat: repeat-x; background-position: top center; overflow: hidden;">
                    <img src="../app_files_layout/backend-layout-header-tb02-03.jpg" alt="Header Element" style="position: absolute; display: block; top: 0px; right: -8px;" /> 
                    <img src="../app_files_layout/backend-layout-header-tb02-01.jpg" alt="Header Element" style="position: absolute; display: block; top: 0px; left: -8px;" /> 

                    <aside style="position: absolute; display: block; top: 6px; right: 8px; width: 150px;">
                        <ul class="ss-backend-menu-ul01" style="color: #000000; list-style-type: disc; line-height: 11px;">
                            <li class="ss-backend-menu-li01">
                                <a href="#" class="ss-backend-menu-header-link">
                                    Link 01 teste Link 01
                                </a>
                            </li>
                            <li class="ss-backend-menu-li01">
                                <a href="#" class="ss-backend-menu-header-link">
                                    Link 02 teste 
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </header>
                    

            <main style="position: relative; display: flex; flex: 1; align-items: stretch;">
                <!--Left column.-->
                <div style="position: relative; display: block; min-width: 222px; max-width: 222px; background-image: url(../app_files_layout/backend-layout-nav01-tb01-02.jpg); background-position: left; background-repeat: repeat-y; overflow: hidden;">
                    <img src="../app_files_layout/backend-layout-nav01-tb01-01.jpg" alt="Nav Element" style="position: absolute; display: block; top: 0px; left: 0px; margin-top: -25px;" /> 
                    
                    <nav style="position: relative; display: block; padding-top: 20px; margin-left: 37px;  z-index: 1;">
                        <ul class="ss-backend-menu-ul01">
                            <li class="ss-backend-menu-li01">
                                <a href="#" class="ss-backend-menu-link">
                                    Link 01 test Link 01 test Link 01 test
                                </a>
                            </li>
                            <li class="ss-backend-menu-li01">
                                <a href="#" class="ss-backend-menu-link">
                                    Link 01 test 
                                </a>
                            </li>
                            <li class="ss-backend-menu-li01">
                                <a onclick="htmlGenericStyle01('divSubmenuCategoriesFiltersGeneric', 'display', 'block');" class="ss-backend-menu-link">
                                    Link 01 test with sublinks
                                </a>
                                <div id="divSubmenuCategoriesFiltersGeneric" style="position: relative; display: none; margin-left: 20px;">
                                    <a href="#" class="ss-backend-menu-link">
                                        - test test Link 01 test Link 01 test
                                    </a>
                                    <a href="#" class="ss-backend-menu-link">
                                        - test test Link 01 test Link 01 test
                                    </a>
                                    <a href="#" class="ss-backend-menu-link">
                                        - test test Link 01 test Link 01 test
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>

                    <footer class="ss-backend-copyright" style="position: absolute; display: block; bottom: 0px; left: 0px; background-color: #ffffff; padding-bottom: 8px;">
                        <img src="../app_files_layout/backend-layout-nav01-tb01-03.jpg" alt="Nav Element" style="position: absolute; display: block; top: -56px; left: 0px;" /> 
                        Copyright 2008 ® Planejamento Visual - Arte e Tecnologia
                    </footer>
                </div>
                <!--Left column.-->

                <!--Right column.-->
                <div style="position: relative; display: block; width: 100%; overflow: hidden;">
                    <h1 class="ss-backend-title01" style="position: relative; display: block; border-top: 4px double #b6bcc0; border-bottom: 4px double #b6bcc0; font-size: 18px; margin-bottom: 2px;">
                        Titulo
                    </h1>

                    <div class="ss-backend-success">

                    </div>
                    <div class="ss-backend-error">

                    </div>
                    <div class="ss-backend-alert">

                    </div>



                    <!--Listing.-->
                    <section style="position: relative; display: block; overflow: hidden;">
                        <form id="form" name="form" method="post" action="" enctype="multipart/form-data">
                            <div style="position: relative; display: block; overflow: hidden; margin-bottom: 2px;">
                                <button class="ss-backend-btn-action-cancel" style="float: right;">
                                    Delete
                                </button>
                            </div>
                            <div style="position: relative; display: block; overflow: hidden;">
                                <table class="ss-backend-table-listing01">
                                    <caption class="ss-backend-table-header-text01 ss-backend-table-title">Table Description</caption>
                                    <thead class="ss-backend-table-bg-dark ss-backend-table-header-text01 ">
                                        <tr>
                                            <td style="text-align: left;">
                                                Table Title 
                                            </td>
                                            <td style="width: 100px; text-align: center;">
                                                Table Title 
                                            </td>
                                            <td style="width: 100px; text-align: center;">
                                                Table Title 
                                            </td>
                                        </tr>
                                    </thead>
            
                                    <tbody class="ss-backend-table-listing-text01">
                                        <tr class="ss-backend-table-bg-light">
                                            <td style="text-align: left;">
                                                data 
                                            </td>
                                            <td style="text-align: center;">
                                                data 
                                            </td>
                                            <td style="text-align: center;">
                                                data 
                                            </td>
                                        </tr>
                                        <tr class="ss-backend-table-bg-light">
                                            <td style="text-align: left;">
                                                data 
                                            </td>
                                            <td style="text-align: center;">
                                                data 
                                            </td>
                                            <td style="text-align: center;">
                                                data 
                                            </td>
                                        </tr>
                                        <tr class="ss-backend-table-bg-light">
                                            <td style="text-align: left;">
                                                data 
                                            </td>
                                            <td style="text-align: center;">
                                                data 
                                            </td>
                                            <td style="text-align: center;">
                                                data 
                                            </td>
                                        </tr>
                                    </tbody>

                                    <tfoot class="ss-backend-table-foot ss-backend-table-listing-text01">
                                        <tr>
                                            <td style="text-align: left;">
                                                data 
                                            </td>
                                            <td style="text-align: center;">
                                                data 
                                            </td>
                                            <td style="text-align: center;">
                                                data 
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <!--Paging.-->
                            <!-------------------------->
                            <div class="ss-backend-paging" style="position: relative; display: block; overflow: hidden; text-align: center;">

                                <!--Page numbers.-->
                                <div style="position: relative; display: block; overflow: hidden;">
                                    <a href="#" title="Page x" class="ss-backend-paging-number-link">
                                        1
                                    </a>
                                    <a href="#" title="Page x" class="ss-backend-paging-number-link">
                                        2
                                    </a>
                                    <span class="ss-backend-paging-number-link-a">
                                        2
                                    </span>
                                    <a href="#" title="Page x" class="ss-backend-paging-number-link">
                                        3
                                    </a>
                                </div>

                                <!--Page controls.-->
                                <div style="position: relative; display: block; overflow: hidden;">
                                    <a href="#" title="Page x" class="ss-backend-paging-btn">
                                        |<< First
                                    </a>
                                    <a href="#" title="Page x" class="ss-backend-paging-btn">
                                        << Previous
                                    </a>
                                    <a href="#" title="Page x" class="ss-backend-paging-btn">
                                        Next >>
                                    </a>
                                    <a href="#" title="Page x" class="ss-backend-paging-btn">
                                        Last >>|
                                    </a>
                                </div>

                                <div style="position: relative; display: block; overflow: hidden;">
                                    1 / 3
                                </div>
                            </div>
                            <!-------------------------->
                        </form>
                    </section>
                    <!--Listing.-->

                    <!--Form.-->
                    <section style="position: relative; display: block; overflow: hidden; margin-top: 20px;">
                        <form id="form" name="form" method="post" action="" enctype="multipart/form-data">
                            <div style="position: relative; display: block; overflow: hidden;">
                                <!--Input.-->
                                <!--

                                    Less:
                                    https://semantic-ui.com/introduction/getting-started.html

                                    onload without jquery:
                                    https://stackoverflow.com/questions/4842590/how-to-run-a-function-when-the-page-is-loaded
                                    document.addEventListener('DOMContentLoaded', function() {
                                        alert("Ready!");
                                    }, false);
                                    (function () {
                                        alert("I am here");
                                    })();
                                -->
                                <script>

                                    //Function to reorder the rowns on a input table.
                                    //TODO: Maybe think of a way to also move cells next to other cells.
                                    //TODO: Create a special configuration to set display: none; on the table row.
                                    //ref:
                                    /*
                                    Note: Reorder table rows with jquery:
                                    https://stackoverflow.com/questions/28862402/how-to-move-reorder-an-html-table-row

                                    JS:
                                    https://www.geeksforgeeks.org/how-to-remove-the-table-row-in-a-table-using-javascript/
                                    https://stackoverflow.com/questions/21599772/move-table-rows
                                    */
                                    //**************************************************************************************
                                    function inputDataReorder(_arrInputOrder)
                                    {
                                        //Variables.
                                        //----------------------
                                        let arrInputOrder = _arrInputOrder;

                                        //let inputTable = document.getElementById("input_table_name");

                                        let tableRowReference = "";
                                        let tableRowMove = "";
                                        //alert("Ready!");
                                        //----------------------


                                        //Logic.
                                        //----------------------
                                        if(arrInputOrder)
                                        {
                                            //Reverse array items in array, in order for the logic to work.
                                            //arrInputOrder.reverse();

                                            //Loop.
                                            for(let countInputDataIDs = 0; countInputDataIDs < arrInputOrder.length; countInputDataIDs++)
                                            {
                                                if(countInputDataIDs > 0)
                                                {
                                                    //Define values.
                                                    //tableRowMove = document.getElementById("input_tr_field_name2");
                                                    tableRowMove = document.getElementById(arrInputOrder[countInputDataIDs]);
                                                    //tableRowReference = document.getElementById("input_tr_field_name5");
                                                    tableRowReference = document.getElementById(arrInputOrder[countInputDataIDs - 1]);


                                                    //Move rows.
                                                    if(tableRowMove !== null && tableRowReference !== null)
                                                    {
                                                        //tableRowMove.parentNode.insertBefore(tableRowMove, tableRowReference); //working
                                                        tableRowReference.parentNode.insertBefore(tableRowMove, tableRowReference.nextSibling); //working - simulates insertAfter (jquery)
                                                    }
                                                }


                                                //Debug.
                                                //console.log("arrInputOrder=", arrInputOrder[countInputDataIDs]);
                                            }


                                            //Debug.
                                            //console.log("arrInputOrder=", arrInputOrder);
                                        }
                                        //----------------------


                                        //Usage.
                                        //----------------------
                                        /*
                                        document.addEventListener('DOMContentLoaded', function() {
                                            //inputDataReorder()
                                            inputDataReorder(["inputRowCategories_field_name1", "inputRowCategories_field_name2", "inputRowCategories_field_name3", "inputRowCategories_field_name4", "inputRowCategories_field_name5", "inputRowCategories_field_name6"])
                                        }, false);
                                        */
                                        //----------------------
                                    }
                                    //**************************************************************************************


                                    //Reorder table rows.
                                    //TODO: Create variable in config to able it.
                                    document.addEventListener('DOMContentLoaded', function() {
                                        //inputDataReorder()
                                        //inputDataReorder(["inputRowCategories_field_name1", "inputRowCategories_field_name2", "inputRowCategories_field_name3", "inputRowCategories_field_name4", "inputRowCategories_field_name5", "inputRowCategories_field_name6"])
                                        inputDataReorder(["inputRowCategories_field_name1", "inputRowCategories_field_name2", "inputRowCategories_field_name3", "inputRowCategories_field_name4", "inputRowCategories_field_name5", "inputRowCategories_field_name6"])
                                    }, false);
                                    
                                </script>

                                <table id="input_table_name" class="ss-backend-table-input01">
                                    <caption class="ss-backend-table-header-text01 ss-backend-table-title">Input Description</caption>
                                    <thead class="ss-backend-table-bg-dark ss-backend-table-header-text01 ">
                                        
                                    </thead>
            
                                    <tbody class="ss-backend-table-listing-text01">
                                        <tr id="inputRowCategories_field_name1" class="ss-backend-table-bg-light">
                                            <td class="ss-backend-table-bg-medium">
                                                Text Field (1): 
                                            </td>
                                            <td>
                                                <input type="text" id="field_name1" name="field_name1" class="ss-backend-field-text01" maxlength="255" />
                                            </td>
                                        </tr>
                                        <tr id="inputRowCategories_field_name2" class="ss-backend-table-bg-light">
                                            <td class="ss-backend-table-bg-medium">
                                                Text Area (2): 
                                            </td>
                                            <td>
                                                <textarea id="field_name2" name="field_name2" class="ss-backend-field-text-area01"></textarea>
                                            </td>
                                        </tr>
                                        <tr id="inputRowCategories_field_name3" class="ss-backend-table-bg-light">
                                            <td class="ss-backend-table-bg-medium">
                                                Dropdown (3): 
                                            </td>
                                            <td>
                                                <select id="field_name3" name="field_name3" class="ss-backend-field-dropdown01">
                                                    <option value="1" selected="true">xxx</option>
                                                    <option value="2">yyy</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr id="inputRowCategories_field_name4" class="ss-backend-table-bg-light">
                                            <td class="ss-backend-table-bg-medium">
                                                Checkbox (4): 
                                            </td>
                                            <td>
                                                <label class="ss-backend-field-checkbox-label">
                                                    <input type="checkbox" name="field_name4" value="123" checked class="ss-backend-field-checkbox" /> 1234
                                                </label>
                                                <label class="ss-backend-field-checkbox-label">
                                                    <input type="checkbox" name="field_name4" value="123" class="ss-backend-field-checkbox" /> 123
                                                </label>

                                                <ul class="ss-backend-list-v01">
                                                    <li class="ss-backend-list-item-v01">
                                                        content test
                                                    </li>
                                                    <li class="ss-backend-list-item-v01">
                                                        content test
                                                    </li>
                                                    <li class="ss-backend-list-item-v01">
                                                        content test
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>

                                        <tr id="inputRowCategories_field_name5" class="ss-backend-table-bg-light">
                                            <td class="ss-backend-table-bg-medium">
                                                Radio (5): 
                                            </td>
                                            <td>
                                                <label class="ss-backend-field-radio-label">
                                                    <input type="radio" name="field_name5" value="123" checked class="ss-backend-field-radio" /> 123
                                                </label>
                                                <label class="ss-backend-field-radio-label">
                                                    <input type="radio" name="field_name5" value="123" class="ss-backend-field-radio" /> 123
                                                </label>
                                            </td>
                                        </tr>
                                            
                                        <tr id="inputRowCategories_field_name6" class="ss-backend-table-bg-light">
                                            <td class="ss-backend-table-bg-medium">
                                                Listbox (6): 
                                            </td>
                                            <td>
                                                <select id="field_name6" name="field_name3" size="5" multiple="multiple" class="ss-backend-field-listbox01">
                                                    <option value="1" selected="true">xxx</option>
                                                    <option value="2">yyy</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr id="inputRowCategories_field_name3" class="ss-backend-table-bg-light">
                                            <td class="ss-backend-table-bg-medium">
                                                Image: 
                                            </td>
                                            <td style="display: flex; align-items: center;">
                                                <input type="file" id="categories_image_main" name="image_main" class="ss-backend-field-file-upload" />
                                                <img src="" style="position: relative; display: inline-block; height: 100px; width: 100px; background-color: #ccc; margin: 0px 4px 0px 4px;" />
                                                <div style="position: relative; display: inline-block;">
                                                    <a style="position: relative; display: block;">
                                                        delete
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>

                                    <tfoot class="ss-backend-table-foot ss-backend-table-listing-text01">

                                    </tfoot>
                                </table>
                            </div>
                            <div style="position: relative; display: block; overflow: hidden; margin-top: 2px;">
                                <button class="ss-backend-btn-action-execute" style="float: left;">
                                    Send
                                </button>
                            </div>

                            <input type="hidden" id="fieldName" value="" />
                        </form>
                    </section>
                    <!--Form.-->


                    <!--Images.-->
                    <div style="position: relative; display: block; overflow: hidden; margin-top: 20px;">
                        <!--Centered.-->
                        <figure class="ss-backend-content-images-container-center">
                            <picture>
                                <!--source media="(min-width:650px)" srcset="https://dummyimage.com/200x100/666/999.jpg&text=test1">
                                <source media="(min-width:465px)" srcset="https://dummyimage.com/200x100/666/999.jpg&text=test2"-->
                                <img src="https://dummyimage.com/200x100/666/999.jpg&text=test3" 
                                    alt="Flowers" 
                                    class="ss-backend-content-images" 
                                    />
                            </picture>
                            
                            <figcaption class="ss-backend-content-caption ss-backend-content-images-caption">
                                caption example
                            </figcaption>
                        </figure>

                        <p class="ss-backend-content-text">
                            no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                            no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                            no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        </p>
                        <!--Centered.-->


                        <!--Left.-->
                        <div style="position: relative; display: block; overflow: hidden;">
                            <figure class="ss-backend-content-images-container-left">
                                <picture>
                                    <!--source media="(min-width:650px)" srcset="https://dummyimage.com/200x100/666/999.jpg&text=test1">
                                    <source media="(min-width:465px)" srcset="https://dummyimage.com/200x100/666/999.jpg&text=test2"-->
                                    <img src="https://dummyimage.com/200x100/666/999.jpg&text=test3" 
                                        alt="Flowers" 
                                        class="ss-backend-content-images" 
                                        />
                                </picture>
                                
                                <figcaption class="ss-backend-content-caption ss-backend-content-images-caption ss-backend-box-sizing">
                                    caption example caption example caption example caption example
                                </figcaption>
                            </figure>

                            <p class="ss-backend-content-text">
                                dentro de figure no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                                no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                                no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                                no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                                no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                                no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                                no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                                no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                                no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                            </p>
                        </div>
                        <!--Left.-->


                        <!--right.-->
                        <div style="position: relative; display: block; overflow: hidden;">
                            <figure class="ss-backend-content-images-container-right">
                                <picture>
                                    <!--source media="(min-width:650px)" srcset="https://dummyimage.com/200x100/666/999.jpg&text=test1">
                                    <source media="(min-width:465px)" srcset="https://dummyimage.com/200x100/666/999.jpg&text=test2"-->
                                    <img src="https://dummyimage.com/200x100/666/999.jpg&text=test3" 
                                        alt="Flowers" 
                                        class="ss-backend-content-images" 
                                        />
                                </picture>
                                
                                <figcaption class="ss-backend-content-caption ss-backend-content-images-caption ss-backend-box-sizing">
                                    caption example caption example caption example caption example
                                </figcaption>
                            </figure>

                            <p class="ss-backend-content-text">
                                dentro de figure no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                                no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                                no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                                no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                                no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                                no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                                no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                                no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                                no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                            </p>
                        </div>
                        <!--right.-->
                        
                    </div>

                    <p class="ss-backend-content-text" style="position: relative; display: inline-block; float: left; vertical-align: top; width: 100%;">
                        </p>

                        inicio no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                            
                            <%-templateData.cphCurrentTitle %>

                            <%=templateData.cphBody %>
                            <%-templateData.cphBody %>
                            
                            no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                        no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
                </div>
                <!--Right column.-->
            </main>

        </div>

    </body>

    <!--JS Dependencies (end).-->

</html>